@font-face {
  font-family: "iconfont"; /* Project id 2954360 */
  src: url('iconfont.woff2?t=1637570293074') format('woff2'),
       url('iconfont.woff?t=1637570293074') format('woff'),
       url('iconfont.ttf?t=1637570293074') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github1:before {
  content: "\e728";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-photo:before {
  content: "\e6be";
}

.icon-denglu:before {
  content: "\e612";
}

.icon-navicon-wzgl:before {
  content: "\e661";
}

.icon-github:before {
  content: "\e600";
}

.icon-liuyanban-05:before {
  content: "\e630";
}

.icon-sousuo:before {
  content: "\e752";
}

